<html>
  <title>
    Weather Report
  </title>
  <head>
    <link rel="stylesheet" href="/css/style1.css" />
  </head>
  <body >
    <h1> Weather Report <span>&#9731;</span></h1>
    <div>
      <h2>Location Details</h2>
      <p>
          Country  :{{Country}}<br>
          State  :{{State}}<br>
          Time Zone  :{{Time_Zone}}<br>
          Latitude and Longitude: {{lat}}, {{lon}}<br>
      </p>
    </div>
    <br>
    <div>
      <h2>Weather Details</h2>
      <p>
          Temperature<span>&#9728;</span>  :{{Temperature}}<br>
          Weather Description<span>&#9730;</span>  :{{Weather_Description}}<br>
          Humidity<span>&#xF493;</span>  :{{Humidity}}<br>
          Cloud Cover<span>&#9729;</span>  :{{CloudCover}}<br>
      </p>
    </div>

    <footer>Created By Harshitha Palvai</footer>
  </body>
</html>